.skills {
    padding: 20px;
    font-family: Arial, sans-serif;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
  }
  
  .skills h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #007acc;
  }
  
  .skills ul {
    list-style-type: none;
    padding: 0;
  }
  
  .skills ul li {
    font-size: 1.2em;
    margin-bottom: 5px;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .skills ul li:hover {
    color: #ffdd57;
    transform: translateX(10px);
  }
  